.post {
    padding: 1.175rem 1rem;
    border: 2px solid #9d3643;
    border-radius: 5px;
    margin: 1.5rem 0;
}

.post-time {
    font-size: .5rem;
    color: #ffffffa1;
    margin: .5rem 0;
}

.post-body {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
}

.post-options {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    margin: 1rem 0;
}

.post-options-opt {
    margin: .25rem;
    display: flex;
    align-items: center;
    padding: .25rem;
    width: -webkit-fill-available;
    justify-content: center;
    border: 1px solid #9d362e;
    border-radius: 2rem;
    background: #9d3643;
    color: white;
}

.post-options-opt i.bi {
    margin: .25rem;
    line-height: 1;
}